<% title "Statistics for #{@player.name}" %>

<table>
  <tr>
    <th>Experience</th>
    <th>Rank</th>
    <th>Kd Ratio</th>
    <th>Gear Points</th>
    <th>Created_at</th>
  </tr>
  <% for statistic in @statistics %>
    <tr>
      <td><%=h statistic.experience %></td>
      <td><%=h statistic.rank %></td>
      <td><%=h statistic.kd_ratio %></td>
      <td><%=h statistic.gear_points %></td>
      <td><%=h statistic.created_at %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Back to players', players_path %>
